@import url("main.css");



.table__header{
	background-color: #E9E920;
}



.table__middle--1__cell--1{
	background-color: #F0B339;
}

.table__middle--1__cell--3{
	background-color: lightsalmon;
	height: 75%;
}



.table__middle--2__cell--1{
	background-color: #67D8CE;
}



.table__footer{
	background-color: #7CD867;
}